/*Estilos principal*/

/*Estilos de la cabecera de la pagina */
.Cabecera{
    background-color: #212121;
}

/*Estilos del fondo del menu*/
.Menu{
    background-color: #F5F5F5;
}
.MenuHorizontal{
    width:750px;
    border: solid gray 3px;
    margin: 0 auto;
}

/*Estilos del index*/

/*Estilos de quienes somos */

/*Estilos de actividades */

/*Estilos de cuotas */

/*Estilos de salas */

/*Estilos de donde estamos */

/*Estilos de contacto */

/*Estilos datos recibidos */

/*Estilos de politica y privacidad*/

/*Estilos Aviso legal*/