body{font-family: Arial, Helvetica, sans-serif;
    background-color: #19bb7a;
    }

h1{color: white;
    margin: 35%;
text-align: center;}

.contenedorPrincipal{background-color: whitesmoke;
                    margin: 5%;
                    padding-top: 0%;
                    padding-left: 5%;
                    padding-right: 5%;}

.candidato{border: dotted #086cf8;
            margin: 5%;
            padding: 1%;
            text-align: left;
            background-color: rgb(209, 234, 230);
            width: 20%;
            font-size: 15px;}

.descripccion{width: 20%;
              text-align: justify;
              font-size: 15px;
              position: relative;
              left: 50%;
              bottom: 210px;}

.lineas{line-height: 2%;
        border-style: solid;
        color: #086cf8;
        text-decoration: underline;}

li{color: purple;}

table{color: purple;
       border-color: #086cf8;}

.cabecera{background-color: rgb(209, 234, 230);}

.parte2{margin: 5px auto;}

a{color: #086cf8;}
h3{text-align: left;}


.idiomas{width: 200%;}

img{width: 20%;
    border: 5px solid aqua;}

.uk{position: relative;
    left: 10%;}

.francia{position: relative;
        left: 40%;
        bottom: 175px;}
.B2{color: red;
    position: relative;
    left: 90%;
    bottom: 150px;}

.morado{padding: 3px;
        margin-right: 5%;
        color: white;
        text-align: center;
        width: 230px;
        height: 80px;
        background-color: purple;}

.verde{text-align: center;
        padding: 3px;
        color: white;
        text-align: center;
        width: 230px;
        height: 80px;
        background-color:green;
        position: relative;
        left: 45%;
        bottom: 100px;}

.fondo{text-align: center;
    padding: 3px;
        width: 230px;
        height: 80px;
        background-image: url(Img/comunicacionefectiva.jpg);
        background-size: 30%;
        position: relative;
        left: 80%;
        bottom: 230px;}